
<div class="container mx-auto px-4">
  <!-- PARTIE HEADER -->
  <div class="bg-green-600 text-center p-10 text-white">
    <h1>Quiz Angular</h1>
    <p>Un simple quiz en Angular.</p>
  </div>
  <!-- PARTIE CONTENT -->
  <div class="container m-5">

    <!-- PARTIE QUIZ -->
    <div id="quiz" [hidden]="disabled_quiz">
      <h2 class="text-center" id="question">{{quiz.questions[index_quiz].question}}</h2>
      <div id="reponses"  *ngFor="let q of quiz.questions[index_quiz].reponses">
        <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700 m-5">
          <input (click)="selectionner_reponse(q)" id="bordered-radio-1" type="radio" value="" name="{{quiz.questions[index_quiz].question}}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="{{quiz.questions[index_quiz].question}}" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{q.reponse}}</label>
        </div>
      </div>

      <div class="grid grid-rows-3 grid-flow-col gap-4">
        <div class="row-span-2">
          <!--PARTIE PROGRESS QUIZ-->
          <button (click)="submit_quiz()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
            <span class="sr-only"></span>
          </button>
        </div>
        <div class="row-span-10">
          <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 m-5">
            <div class="bg-green-600 h-2.5 rounded-full" style="width: {{percent_finish}}%"></div>
          </div>
        </div>
      </div>

      <!--PARTIE STREAK-->
      <span>Streak : {{quiz.streak}} 
        <span *ngIf="quiz.streak>2">🥵</span>
        <span *ngIf="quiz.streak<=2 && quiz.streak > 0">😑</span>
        <span *ngIf="quiz.streak==0">😭</span>
      </span>
      
    </div>
    
    <!--PARTIE RESULTAT-->
    <div id="resultat" [hidden]="!disabled_quiz">
      <h2 id="question">Bravo vous avez fini le quiz !</h2>
      <p>Point : {{point}}</p>
      <p>Max streak : {{max_streak}}</p>
      <button (click)="restart_quiz()">Reset</button>
    </div>


    
  </div>
</div>

